composer.phar
/vendor/
.idea

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

/storage
.env
composer.lock

/public/storage

#IDE file
.buildpath
.project
.settings

/public/storage
/public/.DS_Store
/public/assets/.DS_Store
/public/static/.DS_Store
/.DS_Store